name: apple-shop-cn
x-common-configs: &common-configs
  #restart: always
  #pull_policy: always
  env_file:
    - net.env
  networks:
    - external_network
    - app-network

networks:
  app-network:
    driver: bridge
  external_network:
    external: true

services:
  assets-server:
    image: lolmobi495/doan:appleshop-assets-server
    #restart: always
    container_name: appleshop-assets-server
    ports:
      - "2001:8081"
    volumes:
      - ./certs:/https
      - ./settings/appsettings.json:/app/appsettings.json
      - ./assets:/app/wwwroot/assets
    env_file:
      - net.env
    networks:
      - app-network
  
  # gateway:
  #   image: lolmobi495/doan:appleshop-gateway
  #   env_file:
  #     - net.env
  #   ports:
  #     - "1001:8081"
  #   volumes:
  #     - ./certs:/https
  #     - ./settings/appsettings-gateway.json:/app/appsettings.json
  #   networks:
  #     - app-network

  auth:
    image: lolmobi495/doan:appleshop-auth
    ports:
      - "2002:8081"
    volumes:
      - ./settings/auth-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  category-command:
    image: lolmobi495/doan:appleshop-category-command
    ports:
      - "2003:8081"
    volumes:
      - ./settings/category-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  category-query:
    image: lolmobi495/doan:appleshop-category-query
    ports:
      - "2004:8081"
    volumes:
      - ./settings/category-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  product-command:
    image: lolmobi495/doan:appleshop-product-command
    ports:
      - "2005:8081"
    volumes:
      - ./settings/product-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  product-query:
    image: lolmobi495/doan:appleshop-product-query
    ports:
      - "2006:8081"
    volumes:
      - ./settings/product-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  inventory-command:
    image: lolmobi495/doan:appleshop-inventory-command
    ports:
      - "2007:8081"
    volumes:
      - ./settings/inventory-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  inventory-query:
    image: lolmobi495/doan:appleshop-inventory-query
    ports:
      - "2008:8081"
    volumes:
      - ./settings/inventory-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  cart-command:
    image: lolmobi495/doan:appleshop-cart-command
    ports:
      - "2009:8081"
    volumes:
      - ./settings/cart-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  cart-query:
    image: lolmobi495/doan:appleshop-cart-query
    ports:
      - "2010:8081"
    volumes:
      - ./settings/cart-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  order-command:
    image: lolmobi495/doan:appleshop-order-command
    ports:
      - "2011:8081"
    volumes:
      - ./settings/order-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  order-query:
    image: lolmobi495/doan:appleshop-order-query
    ports:
      - "2012:8081"
    volumes:
      - ./settings/order-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  promotion-command:
    image: lolmobi495/doan:appleshop-promotion-command
    ports:
      - "2013:8081"
    volumes:
      - ./settings/promotion-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  promotion-query:
    image: lolmobi495/doan:appleshop-promotion-query
    ports:
      - "2014:8081"
    volumes:
      - ./settings/promotion-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  user-command:
    image: lolmobi495/doan:appleshop-user-command
    ports:
      - "2015:8081"
    volumes:
      - ./settings/user-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  user-query:
    image: lolmobi495/doan:appleshop-user-query
    ports:
      - "2016:8081"
    volumes:
      - ./settings/user-appsettings.json:/app/appsettings.json
      - ./certs:/https
    <<: *common-configs

  rabbitmq:
    image: rabbitmq:3-management
    # restart: always
    container_name: appleshop-rabbitmq
    ports:
      - "5673:5672"
      - "15673:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "appleshop"
      RABBITMQ_DEFAULT_PASS: "Apple@Shop123!"
    networks:
      - app-network

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    #restart: always
    container_name: appleshop-sqlserver
    ports:
      - "1434:1433"
    environment:
      SA_PASSWORD: "YourPassword123!"
      ACCEPT_EULA: "Y"
    volumes:
      - ./sql-init:/var/opt/mssql/scripts
      - ./data/sqlserver-data:/var/opt/mssql/data
      - ./data/sqlserver-backup:/var/opt/mssql/backup
    entrypoint:
      - /bin/bash
      - -c
      - |
        /opt/mssql/bin/sqlservr
    networks:
      - app-network